<a href="https://colab.research.google.com/github/saipraveen333/Day1_ML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas
import numpy as np
a=[1,2,3,4,5]
arr1=np.array(a)
b=[[1,2,3,4],[5,6,7,8]]
arr2=np.array(b)
print(arr1)

[1 2 3 4 5]

In [ ]:
print(type(a),type(arr1))

<class 'list'> <class 'numpy.ndarray'>

In [ ]:
import sys
s=range(1000)
print(sys.getsizeof(s)*len(s))

48000

In [ ]:
import numpy as np
s=np.arange(1000)
print(s.itemsize*len(s))

8000

In [ ]:
#import time library and calculate time elapsed
import time
a=range(1000)
b=range(1000)
start=time.time()
ab=[(i*j) for i,j in zip(a,b) ]
end=time.time()
print(end-start)

range(0, 1000)
0.00019431114196777344

In [ ]:
import numpy
import time
a=np.arange(1000)
b=np.arange(1000)
start=time.time()
ab=a*b
end=time.time()
print(end-start)

9.083747863769531e-05

In [ ]:
import numpy as np
arr1=np.array([[1,2,3,4],[5,6,7,8]],ndmin=2)
print(arr1)

[[1 2 3 4]
 [5 6 7 8]]

In [ ]:
arr2=np.zeros((2,2))
print(arr2)

[[0. 0.]
 [0. 0.]]

In [ ]:
#create an n dim array

In [ ]:
a=[[1,2,3],[4,5,6]]
print(a)

[[1, 2, 3], [4, 5, 6]]

In [ ]:
import numpy as np
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
arr[0,2]

3

In [ ]:
ar1=np.random.rand(3,2)
ar2=np.random.rand(3,2)
print(ar1+ar2)
print(np.subtract(ar1,ar2))

[[1.07617293 0.69117708]
 [0.5892551  1.07168395]
 [1.03077097 1.23944019]]
[[-0.22444415 -0.68083236]
 [-0.38894296  0.84114259]
 [ 0.49682631  0.15912329]]

In [ ]:
arr=np.array([[1,2,3,4],[5,6,7,8]])
arr.reshape(4,2)

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [26]:
import pandas as pd
a=pd.read_csv('/content/ipl_matches.csv')
a.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]